---
---
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

/* Colours */
$darker: #21211e;
$dark: #2d2d29;
$medium: #3b3b35;
$light-medium: #969696;
$dark-blue: #215a6d;
$light-blue: #3ca2a2;
$green: #92c7a3;
$light: #dfece6;
$white: #ffffff;
$dark-purple: #300030;
$medium-purple: #480048;
$regular-purple: #601848;
$red: #c04848;
$orange: #f07241;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Globals */
html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: $dark;
  color: $white;
  font-size: 18px;
  width: 100%;

  @media (max-width: $screen-sm-min) {
  	padding-bottom: 46px;
  }  
  @media (min-width: $screen-sm-min) {
  	padding-top: 46px;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: $light-blue;
  text-align: center;
  margin-top: 20px;
}

h2 {
  display: block;
  text-align: center;
  margin-top: 20px;

  small::before {
    content: "\A";
    white-space: pre;
  }

  small {
    font-size: 16px;
    color: $light-medium
  }
}

h3 {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: $light-blue;
  font-size: 26px;
}

a,
a:active {
  color: $light-blue;
  text-decoration: none;
}

a:hover {
  color: $dark-blue;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.menu-button {
  color: $white;
  font-size: 24px;
  position: fixed;
  cursor: pointer;
  line-height: 1em;
  padding: 10px;
  background-color: $dark;
  z-index: 100;
  width: 100%;
  text-align: center;
  left: 0;

  @media (min-width: $screen-sm-min) {
    top: 0;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
  }
  @media (max-width: $screen-sm-min) {
    bottom: 0;
  }

  a {
    color: white;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  a:hover {
    color: $light-blue;
  }

  i {
    display: inline-block;
    width: 20%;
    max-width: 100px;
  }

  .fa-home {
    font-size: 26px;
  }

  .fa-list {
    font-size: 23px;
  }

  .legal-icon {
    vertical-align: top;
    display: inline-block;
    margin-top: -2px; 
  }
}

.nav-up {
  @media (min-width: $screen-sm-min) {
    top: -46px;
  }
}

.youtube-embed {
  margin-left: -15px;
  width: calc(100% + 30px);
  height: 394px;

  @media (min-width: $screen-sm-min) {
    width: calc(100% + 60px);
    margin-left: -30px;
  }
}

.content-panel {
  background-color: $medium;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid $light-blue;
}

.links {
  margin-top: 25px;
  text-align: center;

  i {
    padding-left: 5px;
    padding-right: 5px;

    @media (min-width: $screen-sm-min) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .fa, .fab, .fas, .far {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .fa-linkedin-in:hover {
    color: $light-blue;
  }

  .fa-xing:hover {
    color: $light-blue;
  }

  .fa-github:hover {
    color: $light-blue;
  }

  .fa-rss:hover {
    color: $light-blue;
  }
}

/* Index */

.index {
  height: 100%;
  max-height: 100%;
  width: 100%;
  padding: 0px;

  @media (min-width: $screen-sm-min) {
    width: 700px;
    max-width: 700px;
  }

  .author-row {
    margin-top: 80px;
  }

  .row {
    height: 100%;
    max-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .gravatar {
    width: 100%;
    margin-top: -95px;
    text-align: center;
  }

  .author-text {
    margin-top: 30px;

    b {
      font-size: 32px;
    }
  }

  .links {
    font-size: 2em;
  }

  .articles {
    text-align: center;
    font-size: 20px;

    ul {
      padding: 0px;

      li {
        margin-bottom: 20px;
        font-size: 24px;

        a:hover {
          color: $light-medium;
        }

        small {
          font-size: 16px;
          margin-top: -10px;
          padding-top: 0px;
          color: $light-medium;
        }
      }
    }

    a,
    a:active {
      color: $white;
      white-space: nowrap;
    }

    a:hover {
      color: $light-blue;
    }
  }

  .links {
    a,
    a:active {
      color: #ffffff;
    }
  }
}

.all-posts {
  margin-left: 0px;
  margin-right: 0px;

  @media (min-width: $screen-sm-min) {
    #search-container {
      padding-top: 75px;
      padding-bottom: 150px;
    }
  }

  @media (min-width: $screen-md-min) {
    margin-left: -15px;
    margin-right: -15px;

    #search-container {
      padding-bottom: 300px;
    }
  }

  #search-input {
    position: relative;
    width: 100%;
    padding: 6px 15px 6px 30px;
    margin: 2px;
    margin-bottom: 30px;

    color: $dark;
    background-color: $white;

    border: 1px solid #adc5cf;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
  }

  .content-panel {
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width: $screen-md-min) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

// post
.single {
  height: 100%;
  max-height: 100%;

  p {
    margin-bottom: 10px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 40px;
    }
  }

  .article {
    width: 100%;
    margin-left: 0%;
    padding: 0px;

    .read-time {
      font-size: 16px;
      text-align: center;
      margin-bottom: 10px;
      font-weight: 400;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 40px;
      }
    }

    .content {
      font-size: 18px;
      line-height: 170%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;

      @media (min-width: $screen-sm-min) {
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 40px;
        padding-bottom: 20px;
      }

      .series {
        margin-bottom: 50px;
      }

      img {
        max-width: calc(100% + 30px);
        max-height: 400px;
        padding: 0;
        display: block;
        margin: auto;

        @media (min-width: $screen-sm-min) {
          max-width: calc(100% + 60px);
        }
      }

      ul {
        list-style-type: disc;
      }

      ol {
        list-style-type: decimal;
      }

      blockquote {
        position: relative;
        width: 100%;
        margin-left: -15px;
        padding-right: 10px;
        background-color: $darker;
        color: white;
        box-sizing: content-box;
        border: none;
        font-size: 28px;

        @media (min-width: $screen-sm-min) {
          margin-left: -30px;
          padding-left: 45px;
          padding-right: 15px;
        }

        p {
          margin: 0;
          padding: 15px;
          z-index: 0;
        }

        :before {
          font-family: "Times New Roman";
          color: $light-medium;
          content: "“";
          position: absolute;
          top: 15px;
          left: 15px;
          font-size: 65px;
          font-weight: bold;
        }
      }

      // code highlighting
      figure.highlight,
      div.highlighter-rouge {
        width: 100%;
        margin-left: -15px;
        padding-right: 10px;
        box-sizing: content-box;

        @media (min-width: $screen-sm-min) {
          margin-left: -30px;
          padding-right: 60px;
        }

        pre {
          width: 100%;
          font-family: "Anonymous Pro";
          background-color: $darker;
          color: $white;
          font-size: 12px;
          border: none;
          padding-left: 15px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 15px;
          box-sizing: content-box;
          border-radius: 0;
          margin-bottom: 10px;
          margin-top: 10px;

          @media (min-width: $screen-sm-min) {
            padding-left: 50px;
            padding-right: 10px;
            margin-bottom: 40px;
            font-size: 15px;
          }
        }
      }

      p,
      ul,
      ol {
        code {
          font-family: "Anonymous Pro";
          font-size: 15px;
          background-color: $darker;
          color: $white;
          padding: 0.5em;
          vertical-align: middle;
        }
      }

      .tags {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;

        a,
        a:active {
          color: $white;
        }

        a:hover {
          color: $light-blue;
        }
      }

      .share {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}

.related {
  margin-top: 50px;
  text-align: center;

  .related-header {
    margin-top: -30px;
    margin-bottom: 20px;

    a {
      color: $white;
      font-size: 18px;
      width: auto;
      padding: 10px 20px;
      background-color: $darker;
      box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
    }

    a:hover {
      color: $dark-blue;
    }
  }

  .title {
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      font-size: 36px;
    }

    a {
      color: $white;
    }

    a:hover {
      color: $light;
    }
  }

  p {
    margin-bottom: 0px;
  }

  .previous-next {
    width: 50%;

    a {
      color: $white;
    }

    a:hover {
      color: $light;
    }
  }

  .next {
    float: right;
    text-align: right;
  }

  .previous {
    float: left;
    text-align: left;
  }

  .date {
    color: $light-medium;
  }
}

.search-hr {
  width: 700px;
  border-color: $light-medium;
}

.error {
  .error-text {
    margin-top: 30px;

    a {
      color: $light-blue;
    }
  }

  .links {
    font-size: 1em;
  }
}

.footer {
  width: 100%;
  margin-left: 0%;

  .fa-heart {
    color: $red;
  }

  @media (min-width: $screen-sm-min) {
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }

  div {
    color: $light-medium;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.btn-categories {
  background-color: $light-blue;
  border-color: $light-blue;
  color: $white;
  &:hover {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: $white;
  }
  &:active {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: $white;
  }
  &:focus {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: $white;
  }
}

.dropdown-menu {
  background-color: $light-blue;
  text-align: center;

  &:hover {
    background-color: $dark-blue;
  }

  a {
    color: $white;
  }
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid $darker;
}

th {
  padding: 2px;
  border: 2px solid $darker;
}

td {
  padding: 2px;
  border: 1px solid $dark-blue;
}

.legal {
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

p {
  text-align: justify;
}