---
layout: default
---

<div class="row author-row">

    <div class="col-md-12 main content-panel">
        <div class="gravatar">
            <img src="{{ site.title_image }}" class="rounded-circle about-image" height="150" width="150"
                alt="{{ site.title }}" />
        </div>

        <h1>{{ site.title }}</h1>

        <p class="author-text">
            {{ site.tagline }}
        </p>

        {% include social_links.html %}
    </div>

    <div class="col-md-12 main content-panel">
        <div class="articles">
            <h3>Latest Posts</h3>
            <ul>
                {% for post in site.posts limit: site.post_limit %}
                <li>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                </li>
                {% endfor %}

                {% if site.posts.size > site.post_limit %}
                <li>
                    <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="col-md-12 main content-panel">
        <div class="articles all-posts">
            <h3>Search</h3>

            <input type="text" id="search-input" placeholder="Type here...">

            <ul id="results-container"><small>Start typing to see some results</small></ul>
        </div>
    </div>

</div>
