.footer {
    width: 100%;
    margin-left: 0%;
  
    .fa-heart {
      color: $red;
    }
  
    @media (min-width: $screen-sm-min) {
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
    }
  
    div {
      color: $light-medium;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }