.index {
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding: 0px;
  
    @media (min-width: $screen-sm-min) {
      width: 700px;
      max-width: 700px;
    }
  
    .author-row {
      margin-top: 50px;

      h2 {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        color: $light-blue;
        font-size: 26px;
      }
    }
  
    .row {
      height: 100%;
      max-height: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .gravatar {
      width: 100%;
      margin-top: -70px;
      text-align: center;
    }
  
    .author-text {
      margin-top: 30px;
  
      b {
        font-size: 32px;
      }
    }
  
    .links {
      font-size: 2em;
    }
  
    .articles {
      text-align: center;
      font-size: 20px;
  
      ul {
        padding: 0px;
  
        li {
          margin-bottom: 20px;
          font-size: 24px;
  
          a:hover {
            color: $light-medium;
          }
  
          small {
            font-size: 16px;
            margin-top: -10px;
            padding-top: 0px;
            color: $light-medium;
          }
        }
      }
  
      a,
      a:active {
        color: $white;
        white-space: nowrap;
      }
  
      a:hover {
        color: $light-blue;
      }
    }
  
    .links {
      a,
      a:active {
        color: #ffffff;
      }
    }
  }