.menu-button {
  color: $white;
  position: fixed;
  font-size: 26px;
  cursor: pointer;
  line-height: 1em;
  padding: 10px;
  background-color: $dark;
  z-index: 100;
  width: 100%;
  text-align: center;
  left: 0;

  @media (min-width: $screen-sm-min) {
    top: 0;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
  }

  @media (max-width: $screen-sm-min) {
    bottom: 0;
  }

  a {
    color: white;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  a:hover {
    color: $light-blue;
  }

  i {
    display: inline-block;
    width: 20%;
    max-width: 100px;
  }
}

.nav-up {
  @media (min-width: $screen-sm-min) {
    top: -46px;
  }
}