.links {
    margin-top: 25px;
    text-align: center;
  
    i {
      padding-left: 5px;
      padding-right: 5px;

      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
  
      @media (min-width: $screen-sm-min) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  
    .icon-linkedin:hover {
      color: $light-blue;
    }
  
    .icon-xing:hover {
      color: $light-blue;
    }
  
    .icon-github:hover {
      color: $light-blue;
    }
  }