/* Colours */
$darker: #21211e;
$dark: #2d2d29;
$medium: #3b3b35;
$light-medium: #969696;
$dark-blue: #215a6d;
$light-blue: #3ca2a2;
$green: #92c7a3;
$light: #dfece6;
$white: #ffffff;
$dark-purple: #300030;
$medium-purple: #480048;
$regular-purple: #601848;
$red: #c04848;
$orange: #f07241;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;