<div class="footer clearfix">
  <div class="col-md-6 left">
    {{ site.footer_left }}
  </div>
  <div class="col-md-6 right">
    {{ site.footer_right }}
  </div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% if page.make-smaller-titles %}
<script type="text/javascript">

  var didScroll;
  var lastScrollTop = 0;
  var delta = 5;
  var navbarHeight = $('.menu-button').outerHeight();

  function startScrollDetection() {
    setInterval(function () {
      if (didScroll) {
        hasScrolled();
        didScroll = false;
      }
    }, 250);
  }

  function hasScrolled() {
    var st = $(this).scrollTop();
    if (Math.abs(lastScrollTop - st) <= delta)
      return;

    if (st > lastScrollTop && st > navbarHeight) {
      // Scroll Down
      $('.menu-button').addClass('nav-up');
    } else {
      // Scroll Up
      if (st + $(window).height() < $(document).height()) {
        $('.menu-button').removeClass('nav-up');
      }
    }

    lastScrollTop = st;
  }

  function setFontSize() {

    var title, dateOfTitle, fontSizeOfTitle, listOfA, listOfSmall, listOfArticlesDiv, divWidth;

    listOfArticlesDiv = document.getElementsByClassName("articles");

    for (i = 0; i < listOfArticlesDiv.length; i++) {

      listOfA = document.getElementsByClassName("articles")[i].getElementsByTagName("a");
      listOfSmall = document.getElementsByClassName("articles")[i].getElementsByTagName("small");

      divWidth = document.getElementsByClassName("articles")[i].offsetWidth;

      for (k = 0; k < listOfSmall.length; k++) {

        title = $(listOfA[k]);
        dateOfTitle = $(listOfSmall[k]);

        fontSizeOfTitle = startingFontSize;
        title.css("font-size", fontSizeOfTitle);

        while (title.width() + dateOfTitle.width() >= divWidth)
          title.css("font-size", fontSizeOfTitle -= 0.5);

      }
    }
  }

  function getStartFontSize() {
    try {
      startingFontSize = parseInt($(document.getElementsByClassName("articles")[0].getElementsByTagName("a")[0]).css("font-size"));
      setFontSize();
      window.addEventListener('resize', setFontSize, true);
    } catch (e) { }
  }

  $(document).ready(function () {
    getStartFontSize();
    startScrollDetection();
  });
  $(window).scroll(function (event) {
    didScroll = true;
  });

</script>
{% endif %}

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}