<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% if page.title %}
        {{ page.title }} - {{ site.title }}
        {% else %}
        {{ site.title }} - {{site.title_addon}}
        {% endif %}
    </title>

    <link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/assets/css/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#2d2d29">
    <link rel="shortcut icon" href="/favicons/favicon.ico">

    <meta name="msapplication-TileColor" content="#2d2d29">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="{{ site.keywords || join: ", " }}">

    {% seo title=false %}
</head>
