{% if page.series %}
<div class="content-panel">

  This post is part of the series <span class="emphasize">{{ page.series }}</span>
  <ol class="series">

    {% for apost in site.posts reversed %}

    {% if page.series == apost.series %}
    <li>
      {% if page.title == apost.title %}
      {% assign nextpost = true %}
      {{ apost.title }}
      {% else %}
      {% if nextpost == true %}
      {% assign seriesnext = apost %}
      {% endif %}
      {% assign nextpost = false %}
      <a href="{{ apost.url }}">{{ apost.title }}</a>
      {% endif %}
    </li>
    {% endif %}

    {% endfor %}

  </ol>

</div>
{% endif %}