<p class="links">

  {% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}" title="Github" aria-label="Github" target="_new" rel="noopener">
    <i class="fab fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.linkedin_link %}
  <a href="{{ site.linkedin_link }}" title="LinkedIn" aria-label="LinkedIn" target="_new" rel="noopener">
    <i class="fab fa-linkedin"></i>
  </a>
  {% endif %}

  {% if site.xing_link %}
  <a href="{{ site.xing_link }}" title="Xing" aria-label="Xing" target="_new" rel="noopener">
    <i class="fab fa-xing-square"></i>
  </a>
  {% endif %}

  {% if site.show_rss %}
  <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed" aria-label="RSS Feed" target="_new">
    <i class="fas fa-rss"></i>
  </a>
  {% endif %}

</p>