<p class="links">

  {% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}" target="_new" rel="noopener">
    <i class="fa fa-github-alt"></i>
  </a>
  {% endif %}

  {% if site.linkedin_link %}
  <a href="{{ site.linkedin_link }}" target="_new" rel="noopener">
    <i class="fa fa-linkedin"></i>
  </a>
  {% endif %}

  {% if site.xing_link %}
  <a href="{{ site.xing_link }}" target="_new" rel="noopener">
    <i class="fa fa-xing"></i>
  </a>
  {% endif %}

  {% if site.show_rss %}
  <a href="{{ site.baseurl }}/feed.xml" target="_new">
    <i class="fa fa-rss"></i>
  </a>
  {% endif %}

</p>