---
layout: default
---

<div class="single">
  <div class="row">
    <div itemscope itemtype="http://schema.org/Article" class="col-md-12 article">
      <h1>
        {{ page.title }}
        <small>
          {{ page.date | date: "%B %-d, %Y" }}
        </small>
      </h1>

      {% include read_minutes.html %}
      {% include series_begin.html %}
      {% include toc.html %}

      <div class="content-panel">
        <span itemprop="articleBody">
          {{ content }}
        </span>
      </div>

      {% include series_end.html %}

    </div>
  </div>
</div>
